<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MJRefreshIssue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC0148F91D5C6C6000447F51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC0149121D5C6C6000447F51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC01491D1D5C6C6100447F51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
